.nav-link-list {
  float: right;
}

.nav-link {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0;
  font-weight: lighter;
}

.nav-link:last-child {
  margin-right: 0;
}

.nav-link a {
  text-decoration: none;
}

.nav-link a.active {
  font-weight: bold;
}

nav.site-nav {
  margin-bottom: 1em;
}
